@using (Html.BeginForm("calcolaspese", "Home", FormMethod.Post, new { enctype = "multipart/form-data",id="form" }))
{
          <!-- Inizia un form HTML che invia i dati al metodo "calcolaspese" del controller "Home" con il metodo di invio POST.
        enctype = "multipart/form-data": La codifica "multipart/form-data" è necessaria quando si inviano file tramite un form.
    -->
    <div class="text-center">
        <h5 class="display-4">Ciao, trascina o seleziona il file</h5>
        <input type="file" name="file" required />
        <label>Mese</label>
        <select name="mese" id="mese" required>
          
            <option value="01">Gennaio</option>
            <option value="02">Febbraio</option>
            <option value="03">Marzo</option>
            <option value="04">Aprile</option>
            <option value="05">Maggio</option>
            <option value="06">Giugno</option>
            <option value="07">Luglio</option>
            <option value="08">Agosto</option>
            <option value="09">Settembre</option>
            <option value="10">Ottobre</option>
            <option value="11">Novembre</option>
            <option value="12">Dicembre</option>
            
        </select>
        <button type="submit">Calcola</button>
    </div>
    <div class="rowTab">
    <div class="colannaTabAli" id="tabella">
            
    </div>
   
    </div>
    
}
